.site-header{
 background: #fff;
 padding: 60px 20px;
 justify-content: space-between;
 position: fixed;
 wideth: 100%;
}
.site-logo img{
 height: 20px;
 width: auto;
}
.home-img{
 margin:0 auto;
}
 
.main {
 padding:100px 80px;
}
