.site-header{
 background: #fff;
 padding: 40px 20px;
 justify-content: space-between;
 position: fixed;
 width: 100%;
}
.site-logo img{
 height: 40px;
 width: auto;
}
.home-img img{
 width: 100vw;
 display:block;
}
body{
 color:#020456;
}
h1{
 text-align:center;
}
.contents{
 /*this background is prepared for a test
 background: #ffff00;*/
 line-height: 1.6;
 margin: 100px auto;
/*
 padding-top:100p;*/
 width: 600px;
}
footer{
 background-color:#020456;
 padding:80px 0;
}
 
