.site-header{
 background: #fff;
 padding: 40px 20px;
 justify-content: space-between;
 position: fixed;
 wideth: 100%;
}
.site-logo img{
 height: 40px;
 width: auto;
}
.home-img img{
 width: 100vw;
 display:block;
}
.contents{
 /*this background is prepared for a test*/
 background: #ffff00;
 fontーsize:16px;
 line-height: 1.6;
 margin: 0 auto;
 padding-top:100px;
 width: 800px;
}
 
 
