@charset "UTF-8";

html {
    overflow: scroll;
}

/* -----------------リセットCSS------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    border: 0px;
    vertical-align: bottom;
}

/* ----------------------------------------------- */

body {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}

header {
    width: 100%;
    height: 40px;
    background-color: #eeeaec;
    text-align: center;
    position: fixed;
    top: 0;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header li img {
    width: 100px;
    height: 40px;
    transition: 0.2s;
}

header li img:hover {
    background-color: white;
}


.gnav-item a {
    padding: 16px 10px;
    color: #020456;
    text-decoration: none;
    transition: 0.2s;
}

.gnav-item a:hover {
    background-color: rgb(255, 255, 255);
}

.site-logo img {
    height: 40px;
    width: auto;
}

.home-img img {
    padding-top: 100px;
    width: 100vw;
    display: block;
}

body {
    color: #020456;
}

article {
    margin: 100px auto;
    height: 700px;
}

h1 {
    text-align: center;
    margin: 10px 10px;
}

.contents {
    line-height: 1.6;
    text-align: center;
    margin: 40px 20%;
}

.contents a {
    color: fuchsia;
}

.footer-item a {
    color: #fff;
    text-decoration: none;
}

.footer-item {
    width: 160px;
    margin: 10px 20px 10px auto;
}

footer {
    background-color: #020456;
    padding: 80px 0;
    width: 100%;
}